<%- include('../header', {title: 'slide-menu'}) %>
<div class="wrapper">
  <ul class="slider-menu">
    <li>我关注的</li>
    <li>Android</li>
    <li>前端</li>
    <li>IOS</li>
    <li>后端</li>
  </ul>
</div>
<%- include('../header') %>