<%- include('../header', {title: '3d-text-marquee-effects'})%>
<div class="box">
  <div class="inner">
    <span>Hello, World!</span>
  </div>
  <div class="inner">
    <span>Hello, World!</span>
  </div>
</div>
<%- include('../footer')%>