<%- include('../header', {title: 'three-languages-for-web-development'})%>
<div class="books">
  <div class="book html">
    <span>HTML</span>
  </div>
  <div class="book css">
    <span>CSS</span>
  </div>
  <div class="book javascript">
    <span>JavaScript</span>
  </div>
</div>
<%- include('../footer') %>