<%- include('../header', {title: 'swapping-colors-loader-animation'})%>
<div class="loader">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<%- include('../footer') %>